@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #000;
    --background: #fff;
    --light: 212, 89%, 57%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #fff;
        --background: #000;
        --light: 212, 89%, 57%;
    }
}

body {
    color: rgb(var(--foreground));
    background-color: rgb(var(--background));
}

:root {
    --menu-bg: #f9f9f9;
    --menu-title-color: #333;
    --menu-item-bg: #ffffff;
    --menu-item-text: #555;
    --menu-hover-bg: #eeeeee;
    --menu-hover-text: #000;
    --menu-selected-bg: #d1e8ff;
    --menu-selected-text: #0056b3;
}

.dark {
    --menu-bg: #1a1a1a;
    --menu-title-color: #fff;
    --menu-item-bg: #2d2d2d;
    --menu-item-text: #ccc;
    --menu-hover-bg: #444;
    --menu-hover-text: #fff;
    --menu-selected-bg: #0056b3;
    --menu-selected-text: #fff;
}

.nextui-navbar{
    border-color: rgba(255, 255, 255, 0.08);
}

.nextui-navbar header{
    max-width: 1280px;
}

.youtube-accordion hr{
    opacity: .4;
}

.dashboard-container {
    position: relative;
}

.backdrop {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    border-radius: 5px;
}

.backdrop-content {
    font-size: 20px;
}