@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #000;
    --background: #fff;
    --light: 212, 89%, 57%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #fff;
        --background: #000;
        --light: 212, 89%, 57%;
    }
}

body {
    color: rgb(var(--foreground));
    background-color: rgb(var(--background));
}

.nextui-navbar{
    border-color: rgba(255, 255, 255, 0.08);
}

.nextui-navbar header{
    max-width: 1280px;
}

.youtube-accordion hr{
    opacity: .4;
}

.dashboard-container {
    position: relative;
}

.backdrop {
    position: absolute;
    left: 0;
    width: 100%;
    height: 70%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 5px;
}

.backdrop-content {
    font-size: 20px;
}