.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom-radius {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

@keyframes moveUp {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, -10px, 0);
        opacity: 0;
    }
}

@keyframes moveDown {
    0% {
        transform: translate3d(0, -10px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.move-up {
    animation: moveUp 0.3s ease forwards;
    will-change: transform, opacity;
}

.move-down {
    animation: moveDown 0.3s ease forwards;
    will-change: transform, opacity;
}

.card-hover-effect {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01), rgb(30, 129, 255, 0.2));
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-hover-effect::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.05), transparent 60%);
    transition: all 0.3s ease;
}

.card-hover-effect:hover::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent 80%);
}