.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom-radius {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}