.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom-radius {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.move-up {
    animation: moveUp 0.3s ease forwards;
}

.move-down {
    animation: moveDown 0.3s ease forwards;
}